@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  position: relative;
}

.navbar {
  border-top: 1px solid #ffe600;
}
.navbar .btn-login {
  border-radius: 20px;
}
.navbar .navbar-toggler {
  border: #fff;
}
.navbar #navbar-icon {
  font-size: 32px;
  color: #fff;
}

.navbar-content {
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 2.3em;
  left: 0;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #04294b, #155088);
}
.navbar-content::-webkit-scrollbar {
  display: none;
}
.navbar-content #menu-list {
  color: #fff;
}
.navbar-content #menu-list .menu-title {
  font-size: 10px;
  text-transform: uppercase;
  color: #8ca9c4;
}
.navbar-content ul > li {
  font-size: 24px;
  padding: 0.3em;
  border-radius: 8px;
  color: #ebd3a6;
}
.navbar-content ul > li i {
  margin-right: 0.4em;
}
.navbar-content ul > li:hover {
  transition: all 0.4s ease;
}
.navbar-content a {
  text-decoration: none;
  color: #ebd3a6;
}
.navbar-content .img-wrapper,
.navbar-content .banner-wrapper {
  width: 100%;
}
.navbar-content .img-wrapper img,
.navbar-content .banner-wrapper img {
  width: 100%;
}
.navbar-content .product-card {
  min-height: 150px;
  background-color: #005493;
  border-radius: 8px;
}
.navbar-content .product-card .img-wrapper-prod {
  width: auto;
  border-radius: 8px;
}
.navbar-content .product-card .img-wrapper-prod img {
  width: 100%;
  border-radius: 8px;
}
.navbar-content .product-card .prod-label {
  display: flex;
  font-size: 12px;
  padding: 5px;
  color: #6e5422;
  background: #fbf6ed;
  font-weight: 700;
  border-radius: 4px;
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.navbar-content .product-card .button-group .btn-details {
  border-radius: 2em;
}
.navbar-content .product-card .button-group .btn-cart {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 2em;
}
.navbar-content .product-card .button-group .btn-cart:hover {
  background-color: #fff;
  color: #005493;
}

.h-100 {
  height: 100% !important;
}

.main-header {
  min-height: 150px;
}

.banner-slider {
  margin-top: -120px;
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.banner-slider::-webkit-scrollbar {
  display: none;
}
.banner-slider .banner-container {
  border-radius: 1em;
  min-height: 120px;
  background: #000;
  width: 343px;
  height: 200px;
  margin-right: 1em;
}
.banner-slider .banner-container .img-container {
  position: relative;
  width: 343px;
}
.banner-slider .banner-container .img-container img {
  width: 100%;
  border-radius: 1em;
}

.main-menu-section {
  color: #005493;
  width: 100%;
}
.main-menu-section .col-3 {
  padding: 0;
}

.menu-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}
.menu-icon .menu-title {
  text-align: center;
  width: 80%;
  margin-left: 5px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 77px;
  padding: 1em;
  margin: 8px;
  background: linear-gradient(180deg, #f7eddb 0%, rgba(251, 246, 237, 0.5) 100%);
  border-radius: 24px;
}

.btn-banner {
  color: #0080f8;
  background: #fff;
  padding: 8px 14px;
  border-radius: 2em;
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-weight: bold;
}

.page-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
  text-transform: capitalize;
  color: #23323f;
  margin: 12px 0;
}

.bg-header {
  min-height: 300px;
  margin-top: -66px;
  background: #373b44;
  /* fallback for old browsers */
}

.bg-header-login {
  padding-top: 66px;
  min-height: 200px;
  margin-top: -66px;
  background: #304352;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e4f7ff, #fcfff0);
}
.bg-header-login .banner-container {
  width: auto;
}
.bg-header-login .banner-container img {
  width: 100%;
}

.info-for-you h5,
.product-ensure h5,
.article-news h5 {
  color: #005493;
}

.big-banner-slide {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.big-banner-slide::-webkit-scrollbar {
  display: none;
}
.big-banner-slide .banner-container {
  margin-right: 1em;
}
.big-banner-slide .banner-container .img-container {
  width: 343px;
  height: auto;
  background: #000;
  border-radius: 8px;
}
.big-banner-slide .banner-container .img-container img {
  width: 100%;
  border-radius: 8px;
}

.product-ensure .product-card {
  border-radius: 8px;
  min-height: 200px;
  border: 1px solid #f0f0f0;
  padding: 1em;
  margin-bottom: 1em;
}
.product-ensure .img-wrapper {
  border-radius: 8px;
  min-height: 200px;
  border: 1px solid #f0f0f0;
}
.product-ensure .img-wrapper img {
  width: 100%;
}
.product-ensure .prod-label {
  padding: 8px;
  color: #6e5422;
  background: #fbf6ed;
  font-weight: 700;
  border-radius: 8px;
}
.product-ensure .button-group {
  display: flex;
}
.product-ensure .button-group .btn-detail-prod {
  color: #fff;
  padding: 8px 24px;
  background: #0078d1;
  border-radius: 100px;
  width: 150px;
  font-weight: 700;
}
.product-ensure .button-group .btn-detail-prod:hover {
  background-color: #04294b;
  transition: all 0.4s ease;
}
.product-ensure .button-group .btn-cart {
  color: #0080f8;
  border: 1px solid #0080f8;
  border-radius: 100%;
  padding: 8px 14px;
}
.product-ensure .button-group .btn-cart:hover {
  background-color: #0080f8;
  transition: all 0.4s ease;
  color: #fff;
  border: 1px solid #ffffff;
}

.article-news .filter-section {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.article-news .filter-section::-webkit-scrollbar {
  display: none;
}
.article-news .filter-section .filter-pills {
  padding: 8px;
  color: #6e5422;
  background: #fbf6ed;
  font-weight: 700;
  border-radius: 8px;
  white-space: nowrap;
  margin-right: 1em;
}
.article-news .filter-section .active {
  background: #6e5422;
  color: #fff;
}
.article-news .article-slider {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.article-news .article-slider::-webkit-scrollbar {
  display: none;
}
.article-news .article-slider .article-card {
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  padding: 1em;
  margin-right: 1em;
}
.article-news .article-slider .article-card .img-wrapper {
  width: 280px;
  max-height: 184px;
}
.article-news .article-slider .article-card .img-wrapper img {
  width: 100%;
  border-radius: 8px;
}
.article-news .timestamp {
  font-size: 12px;
  font-weight: bold;
}
.article-news .label {
  padding: 8px;
  color: #6e5422;
  background: #fbf6ed;
  font-weight: 700;
  border-radius: 8px;
  white-space: nowrap;
  margin-right: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.article-news .article-list .list-article-card {
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  padding: 1em;
  margin-bottom: 1em;
}
.article-news .article-list .list-article-card .img-wrapper {
  width: 130px;
}
.article-news .article-list .list-article-card .img-wrapper img {
  width: 100%;
  border-radius: 8px;
}

.ads .img-wrapper {
  width: auto;
  position: relative;
}
.ads .img-wrapper img {
  width: 100%;
}
.ads .img-wrapper .btn-ads {
  position: absolute;
  top: 60%;
  left: 110px;
  border-radius: 2em;
  z-index: 1;
}

.consult .consult-card {
  padding: 1em;
  border-radius: 8px;
  color: #fff;
  background: #ba8b02;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #664200, #ba8b02);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.nav-bottom {
  background: #f5f5f5;
  min-height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 0.5em 1em;
  color: #acacac;
}
.nav-bottom i {
  font-size: 20px;
}
.nav-bottom .active {
  color: #0080f8;
}

#product-page .card-age {
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #e7e7e7;
  margin-bottom: 1em;
}
#product-page .card-age .img-wrapper {
  width: 100px;
  flex: 0 0 100px;
}
#product-page .card-age .img-wrapper img {
  width: 100%;
}
#product-page .card-age i {
  color: #be9c5d;
}

#product-details #nav-pills-section .nav-pills {
  border: 1px solid #badcf7;
  border-radius: 2em;
}
#product-details #nav-pills-section .nav-pills .nav-link {
  border-radius: 2em;
  transition: all 0.4s ease;
}
#product-details #nav-pills-section .nav-pills .active {
  background: #005493;
  color: #fff;
}
#product-details #nav-pills-section .nav-pills a {
  color: #005493;
  font-weight: 700;
}
#product-details .main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ececec;
  border-radius: 1em;
  height: auto;
}
#product-details .main-image-container img {
  width: 100%;
}
#product-details .image-preview-column {
  display: flex;
}
#product-details .image-preview-column > .thumbnail {
  margin-right: 0.4em;
}
#product-details .image-preview-column .thumbnail {
  flex: 0 0 50px;
  min-height: 50px;
  width: 50px;
  border-radius: 8px;
  border: 1px solid #c0c0c0;
}
#product-details .image-preview-column .thumbnail img {
  width: 100%;
}
#product-details .image-preview-column .active {
  border-color: #005493;
}

.register-section {
  margin: 14px;
  border: 1px solid #0080f8;
  padding: 0.5em 1em;
  border-radius: 2em;
}

.login-form input {
  border: 1px solid #e7e7e7;
  padding: 22px 11px;
  border-radius: 8px;
}
.login-form select {
  border: 1px solid #e7e7e7;
  height: 45px;
  border-radius: 8px;
  color: #373b44;
  margin-top: 1px;
}

.gradient {
  transition: all 0.5s ease-in-out;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #04294b, #155088);
}

footer {
  margin-top: 30px;
  color: #fff;
  padding: 0.7em 0.7em 0;
  max-width: 100%;
  width: 100%;
  margin-bottom: 80px;
}
footer ul > li {
  margin-bottom: 10px;
}
footer #inside-footer {
  background: #005493;
}/*# sourceMappingURL=app.css.map */