@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

body {
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
	position: relative;
}

// Index CSS

.navbar {
	border-top: 1px solid #ffe600;
	.btn-login {
		border-radius: 20px;
	}
	.navbar-toggler {
		border: #fff;
	}

	#navbar-icon {
		font-size: 32px;
		color: #fff;
	}
}

.navbar-content {
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 5;
	top: 2.3em;
	left: 0;
	overflow-y: scroll;
	transition: all 0.5s ease-in-out;
	background: -webkit-linear-gradient(
		to right,
		#04294b,
		#155088
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #04294b, #155088);

	#menu-list {
		color: #fff;
		.menu-title {
			font-size: 10px;
			text-transform: uppercase;
			color: #8ca9c4;
		}
	}

	ul > li {
		font-size: 24px;
		padding: 0.3em;
		border-radius: 8px;
		color: #ebd3a6;

		i {
			margin-right: 0.4em;
		}

		&:hover {
			transition: all 0.4s ease;
		}
	}

	a {
		text-decoration: none;
		color: #ebd3a6;
	}

	.img-wrapper {
		width: 100%;

		img {
			width: 100%;
		}
	}

	.product-card {
		min-height: 150px;
		background-color: #005493;
		border-radius: 8px;

		.img-wrapper-prod {
			width: auto;
			border-radius: 8px;

			img {
				width: 100%;
				border-radius: 8px;
			}
		}

		.prod-label {
         display: flex;
         font-size: 12px;
			padding: 5px;
			color: #6e5422;
			background: #fbf6ed;
			font-weight: 700;
			border-radius: 4px;
			white-space: nowrap;
			width: fit-content;
		}

      .button-group {
         .btn-details {
            border-radius: 2em;
         }

         .btn-cart {
            border: 1px solid #fff;
            color: #fff;
            border-radius: 2em;

            &:hover {
               background-color: #fff;
               color: #005493;
            }
         }
      }
	}
}

.h-100 {
	height: 100% !important;
}

.main-header {
	min-height: 150px;
}

.banner-slider {
	margin-top: -120px;
	display: flex;
	overflow-x: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		display: none;
	}
	.banner-container {
		border-radius: 1em;
		min-height: 120px;
		background: #000;
		width: 343px;
		height: 200px;
		margin-right: 1em;

		.img-container {
			position: relative;
			width: 343px;

			img {
				width: 100%;
				border-radius: 1em;
			}
		}
	}
}

.main-menu-section {
	color: #005493;
	width: 100%;

	.col-3 {
		padding: 0;
	}
}

.menu-icon {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 14px;

	.menu-title {
		text-align: center;
		width: 80%;
		margin-left: 5px;
	}
}

.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 77px;
	height: 77px;
	padding: 1em;
	margin: 8px;
	background: linear-gradient(
		180deg,
		#f7eddb 0%,
		rgba(251, 246, 237, 0.5) 100%
	);
	border-radius: 24px;
}

.btn-banner {
	color: #0080f8;
	background: #fff;
	padding: 8px 14px;
	border-radius: 2em;
	position: absolute;
	bottom: 1em;
	right: 1em;
	font-weight: bold;
}

.page-title {
	font-size: 20px;
	font-weight: bold;
	line-height: 32px;
	text-transform: capitalize;
	color: #23323f;
	margin: 12px 0;
}

.bg-header {
	min-height: 300px;
	margin-top: -66px;
	background: #373b44; /* fallback for old browsers */
}

.bg-header-login {
	padding-top: 66px;
	min-height: 200px;
	margin-top: -66px;
	background: #304352; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#e4f7ff,
		#fcfff0
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #e4f7ff, #fcfff0);

	.banner-container {
		width: auto;
		img {
			width: 100%;
		}
	}
}

.info-for-you,
.product-ensure,
.article-news {
	h5 {
		color: #005493;
	}
}

.big-banner-slide {
	display: flex;
	overflow-x: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		display: none;
	}
	.banner-container {
		margin-right: 1em;
		.img-container {
			width: 343px;
			height: auto;
			background: #000;
			border-radius: 8px;

			img {
				width: 100%;
				border-radius: 8px;
			}
		}
	}
}

.product-ensure {
	.product-card {
		border-radius: 8px;
		min-height: 200px;
		border: 1px solid #f0f0f0;
		padding: 1em;
		margin-bottom: 1em;
	}

	.img-wrapper {
		border-radius: 8px;
		min-height: 200px;
		border: 1px solid #f0f0f0;

		img {
			width: 100%;
		}
	}

	.prod-label {
		padding: 8px;
		color: #6e5422;
		background: #fbf6ed;
		font-weight: 700;
		border-radius: 8px;
	}

	.button-group {
		display: flex;

		.btn-detail-prod {
			color: #fff;
			padding: 8px 24px;
			background: #0078d1;
			border-radius: 100px;
			width: 150px;
			font-weight: 700;

			&:hover {
				background-color: #04294b;
				transition: all 0.4s ease;
			}
		}

		.btn-cart {
			color: #0080f8;
			border: 1px solid #0080f8;
			border-radius: 100%;
			padding: 8px 14px;

			&:hover {
				background-color: #0080f8;
				transition: all 0.4s ease;
				color: #fff;
				border: 1px solid #ffffff;
			}
		}
	}
}

.article-news {
	.filter-section {
		display: flex;
		overflow-x: scroll;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none;
		}
		.filter-pills {
			padding: 8px;
			color: #6e5422;
			background: #fbf6ed;
			font-weight: 700;
			border-radius: 8px;
			white-space: nowrap;
			margin-right: 1em;
		}

		.active {
			background: #6e5422;
			color: #fff;
		}
	}

	.article-slider {
		display: flex;
		overflow-x: scroll;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none;
		}
		.article-card {
			border: 1px solid #e7e7e7;
			border-radius: 8px;
			padding: 1em;
			margin-right: 1em;
			.img-wrapper {
				width: 280px;
				max-height: 184px;
				img {
					width: 100%;
					border-radius: 8px;
				}
			}
		}
	}

	.timestamp {
		font-size: 12px;
		font-weight: bold;
	}

	.label {
		padding: 8px;
		color: #6e5422;
		background: #fbf6ed;
		font-weight: 700;
		border-radius: 8px;
		white-space: nowrap;
		margin-right: 1em;
		width: fit-content;
	}

	.article-list {
		.list-article-card {
			border-radius: 8px;
			border: 1px solid #f0f0f0;
			padding: 1em;
			margin-bottom: 1em;

			.img-wrapper {
				width: 130px;

				img {
					width: 100%;
					border-radius: 8px;
				}
			}
		}
	}
}

.ads {
	.img-wrapper {
		width: auto;
		position: relative;
		img {
			width: 100%;
		}

		.btn-ads {
			position: absolute;
			top: 60%;
			left: 110px;
			border-radius: 2em;
			z-index: 11;
		}
	}
}

.consult {
	.consult-card {
		padding: 1em;
		border-radius: 8px;
		color: #fff;
		background: #ba8b02; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			to right,
			#664200,
			#ba8b02
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to right,
			#664200,
			#ba8b02
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
			rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	}
}

.nav-bottom {
	background: #f5f5f5;
	min-height: 80px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 2;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	padding: 0.5em 1em;
	color: #acacac;
	i {
		font-size: 20px;
	}

	.active {
		color: #0080f8;
	}
}

// Login CSS
.register-section {
	margin: 14px;
	border: 1px solid #0080f8;
	padding: 0.5em 1em;
	border-radius: 2em;
}

.login-form {
	input {
		border: 1px solid #e7e7e7;
		padding: 22px 11px;
		border-radius: 8px;
	}

	select {
		border: 1px solid #e7e7e7;
		// padding: 22px 11px;
		height: 45px;
		border-radius: 8px;
		color: #373b44;
		margin-top: 1px;
	}
}

.gradient {
	transition: all 0.5s ease-in-out;
	background: -webkit-linear-gradient(
		to right,
		#04294b,
		#155088
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #04294b, #155088);
}

footer {
	margin-top: 30px;
	color: #fff;
	padding: 0.7em 0.7em 0;
	max-width: 100%;
	width: 100%;
	margin-bottom: 80px;

	ul {
		> li {
			margin-bottom: 10px;
		}
	}

	#inside-footer {
		background: #005493;
	}
}
